.container {
  display: flex;
  justify-content: center;
}

.logout-button {
  position: absolute;
  top: 25px;
  right: 25px;
  padding: 10px 20px;
  width: 100px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}

.my-button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}

.my-button:hover {
  background-color: #45a049;
}
.my-button:active {
  background-color: #3e8e41;
}

a {
  text-decoration: none;
  color: white;
}

.buttons {
  display: flex;
  justify-content: center;
}
