<div class="container"> 
  <h1>Login</h1>
<div class="login-container">
  <form action='/api/session/login' method='post'>
    <label for='email'>Email: </label>
    <input type='email' name='email' required />
    <br /><br />
    <label for='password'>Password: </label>
    <input type='password' name='password' required />
    <br />
    <div class="button-container">
    <button type='submit' class="login-button">Log In</button>
    <button type='button' class="login-github-button"><a href='/api/session/github'>Login with GitHub</a></button>
    <button type='button' class="forgot-button"><a href='/send-email'>Forgot Password?</a></button>
    <br />
    </div>
    <div class="register-container">
    <p>If you don´t have an account, please register</p>
    <button type='submit' class="register-button"><a href='/register'>Register</a></button>
  </div>
  </form>
  </div></div>