<h3 style='text-align: center;'>Pay success</h3>
<a href='/products' style='text-decoration: none; color:white'><button
    style='height: 60px;width: 100px;padding: 5px 10px;  font-size: 1rem; background-color: #f70b0b;border: none;border-radius: 5px;cursor: pointer; margin-right: 15px;'
  >Back To Home</button></a>